/* ====================================
   Footer's style
   ==================================== */

#site-footer {
    @include clearfix;
}

.site-footer {
    font-size: 16px;
    color: #4B4B4B;
    background-color: #F4F5F7;
    padding: 60px 0;

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .icon {
        display: inline-block;
        min-width: 20px;
        margin-right: 10px;

        &-lg {
            font-size: 32px;
            color: #4b4b4b;
            margin-top: 16px;
            min-width: 32px;
            text-align: center;

            &+.icon-lg {
                margin-left: 16px;
            }

            &:hover {
                color: $brand-primary;
                text-decoration: none;
            }
        }
    }

    h4,
    h5 {
        color: #222;
        font-weight: 700;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    ul {
        b {
        }

        li {
            &+li {
                margin-top: 16px;
            }
        }

        &+p,
        &+ul {
            margin-top: 24px;
        }
    }
}