/* ====================================   Header's style   ==================================== */

#site-header {
    @include clearfix();
    margin-bottom: 0px;
}

.site-header {
    @include transition(all, 0.2, ease);
    z-index: 10;

    .logo {
        float: left;
        height: 40px;
        width: auto;
        @include transition(all, 0.2, ease);

        a {
            height: inherit;
        }

        img {
            display: block;
            height: inherit;
            width: auto;
        }

        @include breakpoint(md) {
            height: 60px;
        }
    }

    &__topbar {
        text-align: right;
        padding: 16px 0;
        border-bottom: 1px solid #E5E5E5;

        @include breakpoint(xs) {
            display: none;
        }
    }

    &__links {
        @include breakpoint(xs) {
            display: none;
        }

        >a {
            display: inline-block;
            margin-left: 16px;
        }
    }

    &__text {
        margin-right: 16px;

        .fa {
            margin-right: 4px;
        }
    }

    &__menu {
        position: relative;
        margin-left: 16px;
        margin-top: 4px;
        display: none;

        .btn {
            line-height: 30px;
            height: 32px;
            padding: 0 6px;

            .icon-menu {
                width: 14px;
                height: 14px;
                fill: #333;
                vertical-align: middle;
                @include transition(all, 0.2, linear);
                position: relative;
                top: -1px;
                margin-right: 4px;
            }

            &.is-active,
            &:hover {
                background-color: $brand-primary;
                color: white;
                border-color: $brand-primary;

                .icon-menu {
                    fill: #333;
                }
            }

            &-flag {
                margin-right: 12px;
                position: relative;
                overflow: hidden;
                border: none;
                width: 32px;

                a {
                    display: block;
                    height: 100%;

                    img {
                        height: 100%;
                        width: auto;
                        max-width: initial;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }

        .site-header__content & {
            @include breakpoint(xs) {
                display: block;
                float: right;
            }

            @include breakpoint(sm) {
                display: block;
                float: right;
            }
        }
    }

    &__content {
        padding: 20px 0;
        @include clearfix;
        position: relative;
        @include transition(all, 0.2, linear);

        .site-header__menu {
            @include breakpoint(md) {
                display: none !important;
            }
        }
    }

    .menu__listing {
        position: absolute;
        top: 100%;
        background: white;
        right: -16px;
        left: -16px;
        display: none;
        z-index: 10;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        li {
            font-size: 16px;
            text-align: right;

            a {
                padding: 10px 24px;
                display: block;
            }

            &.is-active {
                font-weight: 500;

                a {
                    color: $brand-primary;
                }
            }

            img {
                max-width: 27px;
                height: auto;
            }
        }

        @include breakpoint(md) {
            display: block;
            float: right;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            left: initial;
            border: none;
            background-color: transparent;

            li {
                display: inline-block;
                text-align: left;

                a {
                    padding: 0 10px;
                }
            }
        }

        @include breakpoint(lg) {
            li {
                a {
                    padding: 0 24px;
                }
            }
        }
    }

    &-wrap {

        /* affix */
        &.affix {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            background: white;
            border-bottom: 1px solid #ddd;
            z-index: 100;

            .site-header__content {
                padding: 10px 0;
            }
        }

        &.affix-top {}
    }

    .search {
        position: relative;

        &>a {
            display: none !important;

            @include breakpoint(md) {
                display: block !important;
            }
        }

        .fa {
            min-width: 16px;
            text-align: center;
        }

        .fa-times {
            color: $brand-warning;
        }

        &-wrap {
            width: 60%;
            margin-left: 40%;
            padding-right: 24px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;

            @include breakpoint(sm) {
                width: 40%;
                margin-left: 60%;
            }

            @include breakpoint(md) {
                position: absolute;
                right: 0;
                top: 150%;
                width: 30vw;
                background: white;
                display: none;
                padding: 10px;
                box-shadow: 0px 16px 64px 0px rgba(0, 0, 0, 0.5);
            }

            .form-control {
                border-color: transparent;
                border-bottom: 1px solid #eee;
                -webkit-box-shadow: none;
                box-shadow: none;
                padding-left: 0;

                @include breakpoint(md) {
                    border-color: transparent;
                }

            }

            &.active {
                display: block;
            }
        }

        &-confirm {
            position: absolute;
            cursor: pointer;
            right: 20px;
            top: 0;
            padding: 5px !important;

            @include breakpoint(md) {
                right: 0px;
                top: 5px;
                padding: 10px 14px !important;
            }
        }

        @include breakpoint(md) {
            // &:hover {
            //     .search-wrap {
            //         display: block;
            //     }
            // }
        }
    }
}