/* style for story */

.story {
    @include clearfix();
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background: #FFFFFF;
    margin-bottom: 40px;
    border: 1px solid #efefef;
    transition: all 0.25s ease-in-out;

    &:hover {
        box-shadow: 0px 16px 64px 0px rgba(178, 188, 194, 0.5);
    }

    &__header {
        padding: 24px;

        @include breakpoint(lg) {
            padding: 40px;
        }
    }

    &__footer {
        padding: 0 40px;

        .btn {
            +.btn {
                margin-left: 10px;
            }

            &-border {
                border-color: #DCDCDC;
                line-height: 40px;
                padding: 0 8px;

                @include breakpoint(lg) {
                    line-height: 50px;
                }
            }

            &-circle {
                width: 40px;
                height: 40px;

                @include breakpoint(lg) {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    &__react {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 40px;
        line-height: 50px;
        border-top: 1px solid #EAEAEA;

        .action {
            font-size: 13px;
            color: #A4A8B2;

            &+.action {
                margin-left: 16px;
            }

            .fa {
                margin-right: 2px;
            }
        }
    }

    &__title {
        font-size: 18px;
        line-height: 1.3;
        font-weight: 500;
        margin-bottom: 8px;
    }

    &__meta {
        font-size: 12px;
        color: #A4A8B2;
        margin-bottom: 16px;
    }

    &__desc {
        font-size: 16px;
        color: #85878C;
        margin-bottom: 24px;
    }

    &__cta {
        a {
            color: $brand-primary;
        }
    }

    &--left {

        .story__thumb {
            @include breakpoint(sm) {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0%;
                width: 50%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: auto;
                    max-width: initial;
                }
            }

        }

        .story__title {
            font-size: 32px;
        }

        .story__footer {
            margin-bottom: 70px;
        }

        .story__footer,
        .story__header {
            .btn-round.btn-sm {
                min-width: 100px;

                @include breakpoint(lg) {
                    min-width: 150px;
                }
            }

            @include breakpoint(sm) {
                float: right;
                width: 50%;
                margin-left: 50%;
            }
        }

        .story__react {
            @include breakpoint(sm) {
                left: 50%;
            }
        }
    }

    .imgListing {
        @include clearfix;
        width: 600px;
        margin-bottom: 20px;

        >li {
            width: 132px;
            float: left;
            border-radius: 5px;
            overflow: hidden;

            &+li {
                margin-left: 16px;
            }
        }
    }

    &--clear {
        border: none;

        .story__header {
            padding: 0;
        }

        .story__title {
            font-size: 16px;
            font-weight: normal;
            letter-spacing: -0.8px;

            @include breakpoint(sm) {
                font-size: 18px;
            }

            @include breakpoint(md) {
                font-size: 24px;
            }

            @include breakpoint(lg) {
                font-size: 32px;
            }
        }

        &:hover {
            background: none;
            box-shadow: none;
        }
    }

    &--mask {
        border: none;
        border-radius: 0;
        position: relative;
        margin-bottom: 1px;

        .story__header {
            padding: 40px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: none;
            color: white;

            a {
                color: white;
            }
        }

        .story__title {
            font-size: 32px;
            font-weight: normal;
        }

        .story__meta,
        .story__desc {
            color: white;
        }

        .story__desc {
            position: relative;
            margin-top: 40px;
            padding-top: 40px;

            &::before {
                content: '';
                display: block;
                width: 10%;
                height: 10px;
                position: absolute;
                top: -10px;
                left: 0;
                background: white;
            }
        }

        .story__thumb {

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: transparent;
                transition: all 0.2s ease-in-out;
            }
        }

        &:hover {
            background: none;
            box-shadow: none;

            .story__thumb {
                &::after {
                    background: rgba(75, 75, 75, 0.4);
                }
            }

            .story__header {
                display: block;
            }
        }

        @include breakpoint(sm) {
            width: 33.33%;
            &--lg {
                width: calc(66.66% - 1px);

                .story__header {
                    left: 50%;
                }
            }

            &:nth-child(2n) {
                margin-left: 1px;
            }
        }
    }

    &--horizontal {
        border: none;
        border-radius: -0px;
        background: transparent;

        &:hover {
            box-shadow: none;
        }

        .story__thumb {
            width: 33.33%;
            float: left;
            margin-right: 20px;
            border-radius: 5px;
            overflow: hidden;
        }

        .story__header {
            padding: 0;
            overflow: hidden;
        }
    }

    &--normal {
        border: none;
        border-radius: -0px;
        background: transparent;

        &:hover {
            box-shadow: none;
        }

        .story__header {
            padding: 0;
            overflow: hidden;
            margin-top: 10px;
        }
    }

    &--ratio16x9 {
        .story__thumb {
            width: 100%;
            padding-bottom: 56.75%;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

/* slider style */
.slider {
    position: relative;

    &__header {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    &__title {
        line-height: 1.3;
        font-weight: 500;
        font-size: 30px;

        @include breakpoint(sm) {
            font-size: 40px;
        }

        @include breakpoint(md) {
            font-size: 54px;
        }

        @include breakpoint(lg) {
            font-size: 72px;
        }
    }

    &__meta {
        font-size: 14px;
        line-height: 1.3;
        font-size: 30px;

        @include breakpoint(sm) {
            font-size: 18px;
        }

        @include breakpoint(md) {
            font-size: 24px;
        }

        @include breakpoint(lg) {
            font-size: 32px;
        }
    }

    .bx {
        &-pager {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);

            &-link {
                display: inline-block;
                text-indent: -9999em;
                width: 12px;
                height: 12px;
                background: white;
                border-radius: 50%;
                margin-bottom: 12px;
                position: relative;

                &.active {
                    &::after {
                        content: '';
                        display: block;
                        width: 6px;
                        height: 6px;
                        background: $brand-primary;
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

}

.fullVideo {
    width: 100%;
    height: auto;
}

.card {
    border: 1px solid #E6E6E6;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    margin-top: 32px;

    &__thumb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 33%;
    }

    &__popup {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.10);
        border-radius: 12px;
        padding: 24px;
        z-index: 10;
        display: none;
        width: 320px;
        transform: translateX(-50%);

        @include breakpoint(sm) {
            width: 512px;
        }
        @include breakpoint(md) {
            left: 60%;
            top: -20%;
            width: 700px;
        }

        .avatar {
            border-radius: 50%;
            border: 1px solid #E6E6E6;
            width: 100%;
            padding-bottom: 100%;
            position: relative;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 50%;
            }
        }

        .link {
            font-size: 16px;
            color: #5789FF;
            letter-spacing: -0.2px;
            line-height: 24px;
            font-weight: normal;
        }

        .text {
            margin-bottom: 0;
            font-size: 16px;
            color: #85878C;
            letter-spacing: -0.2px;
            text-align: justify;
            line-height: 24px;
        }
    }

    &:hover {
        .card__popup {
            display: block;
        }
    }

    .site-category & {
        border: none;
        padding-bottom: 0;

        .avatar {
            border: 1px solid #E6E6E6;
            width: 100%;
            padding-bottom: 100%;
            position: relative;
            background: white;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 50%;
            }
        }

        .link {
            font-size: 16px;
            color: #5789FF;
            letter-spacing: -0.2px;
            line-height: 24px;
            font-weight: normal;
        }

        .text {
            margin-bottom: 0;
            font-size: 16px;
            color: #85878C;
            letter-spacing: -0.2px;
            text-align: justify;
            line-height: 24px;
        }
    }
}